.cube {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  margin: 1px;
  float: left;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;
  color: #fff;

}
.card-body {
  position: relative;
}
.end-layer {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 3em;
  height: 100%;
  background: rgba(255,255,255, 0.5);
}

